html {
    background-color: #C8AD55;
}

.hero-body {
    border-bottom: 1px solid rgba(196, 97, 222, 0.8);
}

#board {
    border-radius: 4px;
}

#main_ {
    padding-top: 40px;
    text-align: center;
    height: 482px;
}

#left_box_tile {
    background-color: rgba(255, 255, 255, 0.4);
}

#right_box_tile {
    background-color: rgba(255, 255, 255, 0.4);
}

#left_game_box_tile {
    background-image: url(/assets/img/background.jpg);
    background-size: cover;
}

#right_game_box_tile {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 15px;
    padding-bottom: 0;
}

#game_msg_info {
    background-color: rgba(255, 255, 255, 0.4);
}

#all_messages {
    background: rgba(255, 255, 255, 0.4);
    overflow-y: scroll;
    height: 80%;
    padding: 0;
    margin: 0;
}

#navbar_game {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

#label_tab_room{
  float: left;
}

.chatbox {
    background: rgba(255, 255, 255, 0.05);
    height: 270px;
    position: relative;
}

.chatbox form {
    background: #222;
}

.chatbox form input {
    background: rgba(255, 255, 255, 0.03);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    border: none;
    height: 20%;
    width: 75%;
    padding: 1.2em;
    outline: none;
    color: black;
    font-weight: 300;
}

.chatbox form button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 20%;
    padding: 1.2em;
    font-weight: 300;
}

.server_messages {
    font-size: 0.7em;
    text-align: left;
    margin: 0;
    padding: 5px;
    word-wrap: break-word;
}
