<div id="game_box" style="display: none;">
  <div class="tile is-ancestor">
    <div  class="tile is-parent">
      <div class="tile is-child ">
        <nav id="navbar_game" class="nav">
          <div class="nav-left">
            <span id="navbar_msg_game" class="nav-item"></span>
          </div>
          <div class="nav-right nav-menu">
            <span id="navbar_right_side" class="nav-item"></span>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div id="left_game_box" class="tile is-8 is-parent">
      <div id="left_game_box_tile" class="tile is-child box">
        <canvas id="board" width="500" height="500"></canvas>
      </div>
    </div>
    <div id="right_game_box" class="tile is-4 is-vertical is-parent" >
      <div id="right_game_box_tile" class="tile is-child box">
          <div class="columns">
            <div class="column is-6">
              <div class="message is-success">
                <div id="game_player1" class="message-header">Null</div>
                <div class="message-body" style="background-color: rgba(238, 232, 199, 0.8);">
                  <p id="game_score_player1" class="tag is-large is-dark">0</p>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="message is-success">
                <div id="game_player2" class="message-header">Null</div>
                <div class="message-body" style="background-color: rgba(238, 232, 199, 0.8);">
                  <p id="game_score_player2" class="tag is-large is-white">0</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <p id='game_msg_info' class="notification"></p>
      <div class="chatbox">
            <div id="all_messages">
            </div>
            <form id="form_msg" action="">
              <input id="input_msg" type="text" placeholder="Enter your message">
              <button class="button" id="submit_msg">envoyer</button>
            </form>
      </div>
    </div>
  </div>
</div>
