<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Projet web2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="hero is-success">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Othello Multijoueurs
        </h1>
        <h2 class="subtitle">
          par Bennani soufiane
        </h2>
      </div>
    </div>
  </section>
