<div id="login_box">
    <div class="field has-addons has-addons-centered">
      <p class="control">
        <input class="input" id="username" name="username" type="text" placeholder="Choisissez un pseudo...">
      </p>
      <p class="control">
        <input class="button is-success" type="submit" id="submit_login"></input>
      </p>
    </div>
  <div id="error_login"></div>
</div>
