<div id="main_box" class="tile is-ancestor" style="display: none;">
  <div id="left_box" class="tile is-8 is-parent">
    <div id="left_box_tile" class="tile is-child box">
      <div class="columns">
        <div class="column"><p id="welcome_msg" class="sub_title "></p></div>
        <div class="column">
          <a class="button is-primary" id="submit_new_room" type="submit">
            <span class="icon">
              <i class="fa fa-plus-circle"></i>
            </span>
            <span>Créer une nouvelle partie</span>
          </a>
        </div>
      </div>

      <div id="label_tab_room">
        <span class="icon">
          <i class="fa fa-th-list"></i>
        </span>
        <span>La listes des parties</span>
      </div>
      <table id='list_rooms' class="table is-striped">
        <thead>
          <tr>
            <th>Partie</th>
            <th>Hote</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div id="right_box" class="tile is-4 is-parent">
    <div id="right_box_tile" class="tile is-child box">
      <p class="title">Users online</p>
      <ul id="users_online"><ul>
    </div>
  </div>
</div>
